<template name="Profile">
  {{> Navbar}}
  
  <div class="space"></div>

  <section id="profile-page">
      <div class="container">
      	
      	<div class="col-md-8 col-md-offset-2">
      	
      	<div class="col-md-12">
      		<div class="billing-address">
                  <label class="liner">
                  	Personal info
                  	<span></span>
                  </label>
                  	
                  	<div id="personaledit" class="form-horizontal hide-row">
  	                    <div class="form-group">
  	                        <label class="col-sm-3 control-label">E-mail</label>
  	                        <div class="col-sm-9">
  	                            <input type="email" name="email" class="form-control" value="deltaone@delta.com" placeholder="Email" disabled="">
  	                        </div>
  	                    </div>
  	                    <div class="form-group">
  	                        <label class="col-sm-3 control-label">Password</label>
  	                        <div class="col-sm-9">
  	                            <input type="password" name="password" class="form-control" value="" placeholder="Password">
  	                        </div>
  	                    </div>
  	                </div>
                  
  	                <dl id="personal" class="dl-horizontal">
  	                    <dt>Email</dt>
  	                    <dd>{{userEmail}}</dd>
  	                    <dt>Password</dt>
  	                    <dd>**********</dd>
  	                </dl>
                  
              </div>
      	</div>
      	
      	
      	
          <div class="col-md-12">
              <div class="billing-address">
                  <label class="liner">
                  	Shipping address
                  	<span><a href="#" class="editdata" >Edit</a></span>
                  </label>
                  
                  <div id="shippingedit" class="form-horizontal hide-row">
                  	<div class="form-group">
                          <label class="col-sm-3 control-label">First and Last Name</label>
                          <div class="col-sm-9">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <input type="text" name="first_name" class="form-control" value="{{currentUser.profile.first_name}}" placeholder="John">
                                  </div>
                                  <div class="col-sm-6">
                                      <input type="text" name="last_name" class="form-control" value="{{currentUser.profile.last_name}}" placeholder="Connor">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">Address and Town</label>
                          <div class="col-sm-9">
                              <div class="row">
                                  <div class="col-sm-6">
                                      <input type="text" name="address" class="form-control" value="{{currentUser.profile.address}}" placeholder="Malbourne street 98">
                                  </div>
                                  <div class="col-sm-6">
                                      <input type="text" name="town" class="form-control" value="{{currentUser.profile.town}}" placeholder="San Francisco">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">Postcode / Zip</label>
                          <div class="col-sm-9">
                              <div class="row">
                                  <div class="col-sm-12">
                                      <input type="text" name="zip" class="form-control" value="{{currentUser.profile.zip}}" placeholder="90804">
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="form-group">
                          <label class="col-sm-3 control-label">Phone Number</label>
                          <div class="col-sm-9">
                              <input type="text" name="phone" value="{{currentUser.profile.phone}}" class="form-control" placeholder="Phone Number">
                          </div>
                      </div>
                      
                  </div>
                  
                  <dl id="shipping" class="dl-horizontal">
                      <dt>First Name</dt>
                      <dd>{{currentUser.profile.first_name}}</dd>
                      <dt>Last Name</dt>
                      <dd>{{currentUser.profile.last_name}}</dd>
                      <dt>Address</dt>
                      <dd>{{currentUser.profile.address}}</dd>
                      <dt>Town</dt>
                      <dd>{{currentUser.profile.town}}</dd>
                      <dt>Postcode / Zip</dt>
                      <dd>{{currentUser.profile.zip}}</dd>
                      <dt>Phone Number</dt>
                      <dd>{{currentUser.profile.phone}}</dd>
                  </dl>
                  
              </div>
  
  		  </div>
  		  
  		  <div class="col-md-12">
              <div class="billing-address">
                  <label class="liner">
                  	Orders
                  </label>
                  <div class="table-responsive">
  			      <table class="table">
  			        <thead>
  			          <tr>
  			            <th>Order ID</th>
  			            <th>Created</th>
  			            <th>Price</th>
  			            <th>Status</th>
  			            <th>Set</th>
  			          </tr>
  			        </thead>
  			        <tbody>
  			          {{#each orders}}
  			          <tr>
  			            <td>{{_id}}</td>
  			            <td>{{datafrom}}</td>
  			            <td>${{price}}</td>
  			            <td><span class="label label-info">{{status}}</span></td>
  			            <td>
  			              {{#if pay_id}}
  			                <a href="/checkout?id={{_id}}" class="btn btn-primary btn-xs itemid"><i class="fa fa-eye"></i></a>
  			              {{else}}
  			                <a href="/checkout?id={{_id}}" class="btn btn-primary btn-xs itemid"><i class="fa fa-credit-card"></i></a>
  			              {{/if}}
  			            </td>
  			          </tr>
  			          {{/each}}
  			        </tbody>
  			      </table>
  			    </div>
                  
              </div>
           </div>
  		  
  	   </div>
      </div>    
  </section>
  
  {{> Footer}}
</template>
