.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 2px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-hover>tbody>tr:hover {
    background-color: #FFFFFF;
    cursor: context-menu;
}

.reg{
	color: #00DC0C;
}

.guest{
	color: #ff3b30;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
@media (max-width: 768px) {
.sidebar {
  *display: none;
  margin-top: 40px;
}
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 71px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
  .sidebaright {
    position: fixed;
    top: 71px;
    bottom: 0;
    right: 0;
    z-index: 1000;
    display: block;
    padding-top: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.adminmain {
  padding: 20px;
  margin-top: 70px;
}
@media (min-width: 768px) {
  .adminmain {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.adminmain .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.product-image{
text-align: center;
margin-top: 40px;
}

.edit-label{
	padding: 4px;
}

#checkout-page #subtotal-order {
    margin: 65px 0 0 0;
}

.borderbar{
	margin: 10px 0px;
	padding: 15px;
	border: 2px solid #ccc;
}

.faclose{
	padding: 4px; 
	text-align: center;
}

.fatrash {
    padding: 4px;
    text-align: center;
}

.itemtrash{
  padding: 4px;
  text-align: center;
}

.ftop{
	margin-top: 85px;
}

.marg-0{
	margin: 0px;
}


#itemadd{
  padding: 20px;
}

.autoform-add-item.btn {
    width: 100%;
    border-radius: 0;
    border: none;
    box-shadow: none;
    background: #eee;
}

.autoform-remove-item.btn {
    background: #eee;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    font-size: 1em;
    height: 25px;
    width: 25px;
    text-align: center;
    display: block;
    padding: 0;
}

.autoform-array-item-body .panel{
  border: none;
  border-bottom: none;
  padding: 0px;
  margin: 0px;
}

.autoform-array-item-body .panel-body{
  padding: 0px;
  margin: 0px;
}


.list-group-item .autoform-array-item{
  border-width: 0;
  border-radius: 0;
  padding: 0px;
}

.panel > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item{
  border-width: 0;
  border-radius: 0;
}

.autoform-remove-item-wrap{
  padding-top:30px;
}

.autoform-array-item-body .form-group{
  margin: 0px;
}

.panel-default .panel-heading{
  box-shadow: none !important;
}

.table-avatar{
  max-width: 100px;
  max-height: 100px;
}