<template name="Footer">
	<footer class="footer-distributed section nbottom">

			

<div class="footer-left">

				
	<h3><img src="/img/logo.png" width="35" style="padding-bottom:5px"><strong style="padding-left:10px">Ribbon</strong></h3>

				
	<p class="footer-links">
					
		<a href="/">Home</a>
					·
					
		<a href="#">Blog</a>
					·
					
		<a href="/compare">Compare Us</a>
					·
					
		<a href="#">About</a>
					·
					
		<a href="#">Faq</a>
					·
					
		<a href="#">Contact</a>
				
	</p>

				
	<p class="footer-company-name">Ribbon &copy; 2016</p>
			
</div>

	
		
<div class="footer-center">

				
	<div>
					
		<i class="fa fa-map-marker"></i>
					
		<p><span>836 Sherman Ave #8</span> Evanston, IL</p>
				
	</div>

				
	<div>
					
	<i class="fa fa-phone"></i>
					
	<p>+1 262 2850430</p>
				
	</div>

	
			
	<div>
					
	<i class="fa fa-envelope"></i>
					
	<p><a href="mailto:tom@ribbon.ai">tom@ribbon.ai</a></p>
				
	</div>
	
		
</div>

			

<div class="footer-right">

				
	<p class="footer-company-about">
					
		<span>About the company</span>
					
		Ribbon brings you the things you want to buy, guaranteeing you the lowest price in one simple store.
			
	</p>

				
	<div class="footer-icons">

					
	<a href="#"><i class="fa fa-facebook"></i></a>
					
	<a href="#"><i class="fa fa-twitter"></i></a>
					
	<a href="#"><i class="fa fa-linkedin"></i></a>
					
	<a href="#"><i class="fa fa-github"></i></a>

				
	</div>

		
</div>

		
</footer>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?3qMmzNIAy59aM798WM5IlOocjYh1YTHH";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->


	<!--
  <footer class="section nbottom"> 
		<div class="container white"> 
			<div class="col-md-4 pull-left">
				<p class="marg-top-10">Copyright © 2016 All rights reserved</p>
			</div>
			<div class="col-md-2 pull-right">
				<p class="pull-left marg-top-10"></p>
			</div>
		</div>
	</footer>
	-->
</template>