<template name="Work">
  
  {{> EmpNavbar}}
  
  <div class="container-fluid">
      <div class="row">
      	<div class="col-sm-3 col-md-3 sidebar">
      	  
        <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th><i class="fa fa-user"></i></th>
                  <th>Query</th>
                  <th><i class="fa fa-clock-o"></i></th>
                </tr>
              </thead>
              <tbody>
                {{#each search}}
                <tr class="queryid">
                  <td><i class="fa fa-circle {{#if equals userGuest 'null'}} null {{else}} {{#if userGuest}}guest{{else}}reg{{/if}} {{/if}}"></i></td>
                  <td>{{query}}</td>
                  <td>{{Timer}} s</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        
        </div>
        
        
        <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 adminmain">
          <div class="col-md-12 borderbar">
          	<b>Users online:</b> {{usersOnlineCount}}
          	<b>Querys:</b> {{SearchCount}}
          </div>
          
          <div id="semantic" class="col-md-12 borderbar">
            <!--
            <input placeholder="Semantic search..." class="col-md-9 form-control" type="text" name="testbar" >
            <button class="btn btn-md btn-fill btn-danger col-md-3">Find</button>
            --> 
            <div class="input-group">
             <input placeholder="Product lookup" type="text" class="form-control" name="testbar">
             <span class="input-group-btn">
                  <button class="btn btn-fill btn-danger btn-default" type="button">Go!</button>
             </span>
            </div>
            
            <div class="sem3-panel-group" id="sem3-accordion"> <!-- style="display:none"> -->
              <div class="sem3-panel sem3-panel-default">
                <div class="sem3-panel-heading">
                  <div class="h4-sem3 sem3-panel-title">
                    <a id="sem3-name-1" data-toggle="collapse" data-parent="#sem3-accordion" href="#collapse1">Collapsible Group 1</a>
                  </div>
                </div>
                <div id="collapse1" class="sem3-panel-collapse collapse">
                  <div id="sem3-results-1" class="col-md-12 sem3-panel-body">
            	      <dl class="dl-horizontal col-md-4 col-lg-4"> 
                      <dt>cat:</dt>
                      <dd id="sem3-category-1">-</dd>
                    </dl>
            	      <dl class="dl-horizontal col-md-4 col-lg-4"> 
                      <dt>brand:</dt>
                      <dd id="sem3-brand-1">-</dd>
                    </dl>
            	      <dl class="dl-horizontal col-md-4 col-lg-4"> 
                      <dt>color:</dt>
                      <dd id="sem3-color-1">-</dd>
                    </dl>
                    <div id="sem3-prices-1"> </div>
                  </div>
                </div>
              </div>
              <div class="sem3-panel sem3-panel-default">
                <div class="sem3-panel-heading">
                  <div class="h4-sem3 sem3-panel-title">
                    <a id="sem3-name-2" data-toggle="collapse" data-parent="#sem3-accordion" href="#collapse2">Collapsible Group 2</a>
                  </div>
                </div>
                <div id="collapse2" class="sem3-panel-collapse collapse">
                  <div id="sem3-results-2" class="col-md-12 sem3-panel-body">
            	      <dl class="dl-horizontal col-md-4"> 
                      <dt >cat:</dt> <dd id="sem3-category-2">-</dd>
                    </dl>
            	      <dl class="dl-horizontal col-md-4"> 
                      <dt>brand:</dt> <dd id="sem3-brand-2">-</dd>
                    </dl>
            	      <dl class="dl-horizontal col-md-4"> 
                      <dt>color:</dt> <dd id="sem3-color-2">-</dd>
                    </dl>
                    <div id="sem3-prices-2"> </div>
                  </div>
                </div>
              </div>
              <div class="sem3-panel sem3-panel-default">
                <div class="sem3-panel-heading">
                  <div class="sem3-panel-title">
                    <a id="sem3-name-3" data-toggle="collapse" data-parent="#sem3-accordion" href="#collapse3">Collapsible Group 3</a>
                  </div>
                </div>
                <div id="collapse3" class="sem3-panel-collapse collapse">
                  <div id="sem3-results-3" class="col-md-12 sem3-panel-body">
            	      <dl class="dl-horizontal col-md-4"> 
                      <dt >cat:</dt> <dd id="sem3-category-3">none</dd>
                    </dl>
            	      <dl class="dl-horizontal col-md-4"> 
                      <dt>brand:</dt> <dd id="sem3-brand-3">none</dd>
                    </dl>
            	      <dl class="dl-horizontal col-md-4"> 
                      <dt>color:</dt> <dd id="sem3-color-3">none</dd>
                    </dl>
                    <div id="sem3-prices-3"></div>
                  </div>
                </div>
              </div>
            </div> 
        
          </div>
          
          <div id="querywork" class="col-md-12 borderbar" style="display:none;">
          	
          	<div class="row">
          	  <h4 class="col-sm-10" style="margin: 0px;">Working Query</h4>
          		<a class="col-sm-1 pull-right faclose" href="#" onclick="$('#querywork').hide(); return false;"><i class="fa fa-close"></i></a>	
          		<a class="col-sm-1 pull-right fatrash" href="#"><i class="fa fa-trash"></i></a>	
          	</div>
          	
          	<dl class="dl-horizontal col-md-6"> 
                    <dt>Query</dt>
                    <dd>TV LG 34"</dd>
                    <dt>From</dt>
                    <dd>Guest</dd>
                    <dt>Time</dt>
                    <dd>20s</dd>
            </dl>
            
            <div class="form-horizontal col-md-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">QueryId</label>
                    <div class="col-sm-9">
                        <input type="text" name="queryid" class="form-control" value="" placeholder="QueryId" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">ItemID</label>
                    <div class="col-sm-9">
                        <input type="text" name="itemid" class="form-control" value="" placeholder="ItemID" disabled>
                    </div>
                </div>
                <div class="form-group" style="display:none;">
              		<a href="#" class="btn btn-sm btn-fill btn-danger pull-right">Answer</a>	
              	</div>
            </div>
            
          </div>
          
          
          <div id="itemadds" class="col-md-12 borderbar hidden">
          	
          	<div class="row">
          		<h4 class="col-sm-11" style="margin: 0px;">Add Item</h4>
          		<a class="col-sm-1 pull-right faclose" href="#" onclick="$('#itemadds').toggleClass('hidden'); return false;"><i class="fa fa-close"></i></a>	
          	</div>
            
            <div id="itemadd" class="form-horizontal">
              {{> quickForm collection="Items" id="insertItemsForm" type="insert" }}
            </div>
          
          </div>
          
          
          <div id="itemedit" class="col-md-12 borderbar" style="display:none;">
            
          	<div class="row">
          		<h4 class="col-sm-10" style="margin: 0px;">Edit Item</h4>
          		<a class="col-sm-1 pull-right faclose" href="#" onclick="$('#itemedit').hide(); return false;"><i class="fa fa-close"></i></a>
          		<a class="col-sm-1 pull-right itemtrash" href="#"><i class="fa fa-trash"></i></a>
          	</div>
          	
          	<div class="form-horizontal">
          		<form method="POST" action="/employee/work" class="itemform">
          		  
            		<div class="form-group">
                      
                      <label class="col-sm-1 control-label">ID</label>
                      <div class="col-sm-11">
                          <div class="row">
                              <div class="col-sm-12">
                                  <input type="text" name="id" class="form-control" value="" placeholder="id" disabled>
                              </div>
                          </div>
                      </div>
                </div>
                
                <div class="form-group">
                      
                      <label class="col-sm-1 control-label">Title</label>
                      <div class="col-sm-7">
                          <div class="row">
                              <div class="col-sm-12">
                                  <input type="text" name="title" class="form-control" value="" placeholder="Iphone 6S">
                              </div>
                          </div>
                      </div>
                      <label class="col-sm-1 control-label">Price</label>
                      <div class="col-sm-3">
                          <div class="row">
                              <div class="col-sm-12">
                                  <input type="text" name="price" class="form-control" value="" placeholder="500.00">
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-1 control-label">Model</label>
                      <div class="col-sm-5">
                          <div class="row">
                              <div class="col-sm-12">
                                  <input type="text" name="model" class="form-control" value="" placeholder="UN55JS7000FXZA">
                              </div>
                          </div>
                      </div>
                      <label class="col-sm-1 control-label">SKU</label>
                      <div class="col-sm-5">
                          <div class="row">
                              <div class="col-sm-12">
                                  <input type="text" name="sku" class="form-control" value="" placeholder="4213306">
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <div class="itemimage">
                      
                  </div>
                  
                  <div class="form-group">
                  	<div class="col-sm-12">
                  		<a href="#" id="addnewimg" class="btn btn-sm btn-fill btn-info btn-block">Add New Image</a>
                  	</div>	
                  </div>
                  
                  <div class="form-group">
                      <label class="col-sm-2 control-label">Description</label>
                      <div class="col-sm-10">
                          <div class="row">
                              <div class="col-sm-12">
                                  <textarea rows="5" style="width: 100%;" name="desc"></textarea>
                              </div>
                          </div>
                      </div>
                  </div>
              	
                  <div class="form-group">
                  	<div class="col-sm-12">
                  	  <button class="btn btn-sm btn-fill btn-danger pull-right">Update</button>
                  	</div>	
                  </div>
              </form>
            </div>
          	
          </div>
		  
		</div>
		
		<div class="col-md-3 sidebaright">
          	<div class="form-group">
          		<!--<input type="text" name="query" class="form-control searchquery" placeholder="Search item">-->
          		{{> EasySearch.Input index=itemIndex attributes=searchbutton }}
          		<br>
          		<a href="#" class="btn btn-md btn-fill btn-block btn-danger" onclick="$('#itemadds').toggleClass('hidden'); return false;">Add Item</a>
          	</div>
          	
          	<div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th><i class="fa fa-usd"></i></th>
                </tr>
              </thead>
              <tbody>
                {{#EasySearch.Each index=itemIndex }}
                  <tr class="">
                    <td>
                      <button class="btn btn-primary btn-xs sitem"><i class="fa fa-paper-plane"></i></button>
                      <button class="btn btn-primary btn-xs itemid"><i class="fa fa-pencil"></i></button>
                    </td>
                    <td>{{title}}</td>
                    <td>{{price}}</td>
                  </tr>
                {{/EasySearch.Each}}
                
                {{> EasySearch.LoadMore index=itemIndex}}

                {{#EasySearch.IfNoResults index=itemIndex}}
                  <div class="no-results">No results found!</div>
                {{/EasySearch.IfNoResults}}
                
                <!--{{#each filteredItem}}-->
                <!--  <tr class="">-->
                <!--    <td>-->
                <!--      <button class="btn btn-primary btn-xs sitem"><i class="fa fa-paper-plane"></i></button>-->
                <!--      <button class="btn btn-primary btn-xs itemid"><i class="fa fa-pencil"></i></button>-->
                <!--    </td>-->
                <!--    <td>{{title}}</td>-->
                <!--    <td>{{price}}</td>-->
                <!--  </tr>-->
                <!--{{/each}}-->
              </tbody>
            </table>
          </div>
          	
          </div>
        
      </div>
    </div>
  
</template>
