<template name="Compare">
  {{> Navbar}}
  
  <div class="row compare">
	<div class="container">
		
		<div class="col-md-12">
		   <h2 class="text-center">Compare us, the choice is easy.</h2>
		   <hr>
	   </div>
	   
	   <div class="col-md-11">
	   		<table id="compare" class="table text-center" style="table-layout:fixed">
			  <thead>
				<tr>
					<th style="width: 14%">&nbsp;</th>
					<th style="width: 16%"><img class="logo" src="img/logo.png" width="70%" style="max-width: 60px"></th>
					<th style="width: 16%"><img class="logo" src="img/bestbuy.jpg" width="70%" style="max-width: 60px"></th>
					<th style="width: 16%"><img class="logo" src="img/amazon.jpg" width="70%" style="max-width: 60px"></th>
					<th style="width: 16%"><img class="logo" src="img/walmart.jpg" width="70%" style="max-width: 60px"></th>
					<th style="width: 16%"><img class="logo" src="img/ebay.jpg" width="70%" style="max-width: 60px"></th>
					<th style="width: 16%"><img class="logo" src="img/otherlogo.jpg" width="70%" style="max-width: 60px"></th>
				</tr>
			  </thead>
			  <tbody> 
				<tr>
					<th scope="row" class="col-md-1" ><h4 style="font-size: 2.2vw">Product<br> selection</h4></th>
					<td><i style="font-size: 3vw" class="fa fa-check faredsc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
				</tr>
				<tr>
					<th scope="row" class="col-md-1"><h4 style="font-size: 2.2vw; padding: 0.5em 0">Prices</h4></th>
					<td><i style="font-size: 3vw" class="fa fa-check faredsc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
				</tr>
				<tr>
					<th scope="row" class="col-md-1"><h4 style="font-size: 2.2vw">Return<br> policy</h4></th>
					<td><i style="font-size: 3vw" class="fa fa-check faredsc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
				</tr>
				<tr>
					<th scope="row" class="col-md-1"><h4 style="font-size: 2.2vw">Price<br> matching</h4></th>
					<td><i style="font-size: 3vw" class="fa fa-check faredsc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
				</tr>
				<tr>
					<th scope="row" class="col-md-1"><h4 style="font-size: 2.2vw">Personal<br> support</h4></th>
					<td><i style="font-size: 3vw" class="fa fa-check faredsc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
				</tr>
				<tr>
					<th scope="row" class="col-md-1"><h4 style="font-size: 2.0vw">Guarantees</h4></th>
					<td><i style="font-size: 3vw" class="fa fa-check faredsc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
					<td><i style="font-size: 3vw" class="fa fa-minus fagraysc"></i></td>
				</tr>
				</tbody>
			</table>
	   	</div>
	   	
	   <div class="col-md-12">
		   <h2 class="text-center"><i class="fa fa-search fayes"></i> Product selection</h2>
		   <hr>
		   <h4>What can you buy at Ribbon?  Practically anything.  If you can buy it online (legally cowboy) and deliver it to your door you can buy it here.  We think that qualifies us as having the widest selection anywhere.  It's as simple as that, no funny business.</h4>
	   </div>
	   
	   <div class="col-md-12">
		   <h2 class="text-center"><i class="fa fa-usd fayes"></i> Prices</h2>
		   <hr>
		   <h4 style="display: inline">Did we mention we have the lowest prices?  We have the lowest prices.  We know how to find things at the cheapest price possible (it's our job). You can thank my mom.</h4> <i class="fa fa-smile-o" style="display: inline"></i> 
	   </div>
		
	   <div class="col-md-12">
		   <h2 class="text-center"><i class="fa fa-truck fayes"></i> Return policy</h2>
		   <hr>
		   <h4> We source things at the same stores you're used to.  Reputable stores.  Stores that have sensible return policies.  So we'll match whatever return policy you can find online at any of the stores listed in our comparison table, no matter where we sourced your item. </h4>
	   </div>
	   
	   <div class="col-md-12">
		   <h2 class="text-center"><i class="fa fa-percent fayes"></i> Price matching</h2>
		   <hr>
		   <h4> If you find a lower price on the identical item, and they're not doing any funny business, we'll refund the difference plus 10%.  We're really confident on that whole lowest price thing. </h4>
	   </div>
	   
	   <div class="col-md-12">
		   <h2 class="text-center"><i class="fa fa-smile-o fayes"></i> Personal support</h2>
		   <hr>
		   <h4>No, we don't mean positive affirmations, we mean real a real human to talk to.  Our team is small, but we care about each of our customers. We give you human-to-human contact when you need it.  Heck, I'm the founder, Tom, and you can email me at tom@ribbon.ai if you feel like it. </h4>
	   </div>
	   
	   <div class="col-md-12">
		   <h2 class="text-center"><i class="fa fa-birthday-cake fayes"></i> Guarantees</h2>
		   <hr>
		   <h4>At Ribbon, every day is your birthday.  We strive to turn frowns upside-down.  If something isn't right, email us.</h4>
	   </div>
	   
	   <div>
	   	<form action="/create_payment" method="POST">
			  <script
			    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			    data-key="pk_test_4RGBdrdZB3PQ1IJJiFpBwXGI"
			    data-image="/square-image.png"
			    data-name="Demo Site"
			    data-description="2 widgets ($20.00)"
			    data-amount="2000"
			    data-currency="usd"
			    data-bitcoin="true">
			  </script>
			</form>
	   </div>
	   
	</div>
</div>
  
  {{> Footer}}
</template>
