<template name="Compare">
  {{> Navbar}}
  
  <div class="row compare">
	<div class="container">
		
		<div class="col-md-12">
		   <h2 class="text-center">Compare us, the choice is easy.</h2>
		   <hr>
	   </div>
	   
	   <div class="col-md-12">
	   		<table id="compare" class="table borderless text-center">
			  <thead>
				<tr>
					<th>&nbsp;</th>
					<th><img src="img/logo.png" width="60" ></th>
					<th><img src="img/bestbuy.jpg" width="60" ></th>
					<th><img src="img/amazon.jpg" width="60" ></th>
					<th><img src="img/walmart.jpg" width="60" ></th>
					<th><img src="img/ebay.jpg" width="60" ></th>
					<th><img src="img/otherlogo.jpg" width="60" ></th>
				</tr>
			  </thead>
			  <tbody> 
				<tr>
					<th scope="row"><h4>Product<br> selection</h4></th>
					<td><i class="fa fa-check fayes"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
				</tr>
				<tr>
					<th scope="row"><h4>Prices</h4></th>
					<td><i class="fa fa-check fayes"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
				</tr>
				<tr>
					<th scope="row"><h4>Return<br> policy</h4></th>
					<td><i class="fa fa-check fayes"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
				</tr>
				<tr>
					<th scope="row"><h4>Price<br> matching</h4></th>
					<td><i class="fa fa-check fayes"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
				</tr>
				<tr>
					<th scope="row"><h4>Personal<br> support</h4></th>
					<td><i class="fa fa-check fayes"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
				</tr>
				<tr>
					<th scope="row"><h4>Guarantees</h4></th>
					<td><i class="fa fa-check fayes"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
					<td><i class="fa fa-minus fano"></i></td>
				</tr>
				</tbody>
			</table>
	   	</div>
	   	
	   	<div class="col-md-12">
		   <h2 class="text-center"><i class="fa fa-search fayes"></i> Product selection</h2>
		   <hr>
		   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
	   </div>
	   
	   <div class="col-md-12">
		   <h2 class="text-center"><i class="fa fa-usd fayes"></i> Prices</h2>
		   <hr>
		   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
	   </div>
		
	   <div class="col-md-12">
		   <h2 class="text-center"><i class="fa fa-truck fayes"></i> Return policy</h2>
		   <hr>
		   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
	   </div>
		
	</div>
</div>
  
  {{> Footer}}
</template>
